@use 'sass:math';

.skill-container {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, 12em);
  justify-content: space-between;
  width: 100%;

  .skill-box-wrapper {
    width: 12em;
    height: 70px;
    .skill-box {
      display: flex;
      align-items: center;
      gap: 1em;
      padding: 20px;
      width: 12em;
      height: 5em;
      background-color: var(--clr-lnk-fg);
      color: var(--clr-fg);
      border-radius: 8px;
      transform: translateY(80px);

      .skill-img {
        max-height: 100%;
      }
    }
  }
}

.skill-animation {
  animation: pop-up 1.5s linear forwards;
}

@keyframes pop-up {
  @for $i from 0 through 100 {
    #{$i}#{'%'} {
      transform: translateY(#{70 * math.pow(math.$e, (-1 * $i) / (2 * 8.3)) * math.cos(0.1 * $i)}px);
    }
  }
}