.about {
  flex-direction: column;

  h1 {
    font-size: 50pt;
    font-weight: 800;
    letter-spacing: -2px;
  }

  .about-name {
    color: #af4d54;
  }

  .about-role {
    justify-content: center;
    margin: 20px 0px;
    font-size: 25pt;

    #text-caret {
      margin-left: 2px;
      font-weight: 300;
      animation: blinker 1s linear infinite;
    }
  }

  .about-links {
    margin-top: 20px;
    gap: 25px;

    .about-icon {
      svg {
        font-size: 30pt;
        transition: transform 0.2s ease-out;
      }

      p {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-5px);
        font-weight: 500;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      }

      &:hover,
      &:focus {
        svg {
          color: #af4d54;
          transform: translateY(-5px);
        }

        p {
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

  .about-desc {
    margin-top: 20px;
    width: 60%;
    text-align: justify;
    line-height: 1.75;
    font-size: 13pt;

    .desc-link {
      cursor: pointer;
      background-color: var(--clr-lnk-fg);
      padding: 2px 5px;
      border-radius: 5px;
      font-weight: 500;
      transition: color 0.1s linear, background-color 0.1s linear;

      &:hover,
      &:focus {
        color: #af4d54;
        background-color: rgba(175, 77, 84, 0.2);
      }
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .about {
    h1 {
      font-size: 28pt;
    }

    .about-role {
      font-size: 18pt;
    }

    .about-links {
      gap: 10px;
      .about-icon {
        svg {
          font-size: 20pt;
        }

        p {
          font-size: 10pt;
        }
      }
    }

    .about-desc {
      width: 85%;
      font-size: 12pt;
    }
  }
}
