#game-container {
  --size: 30px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  max-height: 90%;
  align-items: center;
  justify-content: center;
  touch-action: none;

  .game-row {
    display: flex;
    align-items: center;
    justify-content: center;

    .game-grid {
      position: relative;
      flex: 1 1 auto;
      height: var(--size);
      width: var(--size);
      overflow: visible;

      .game-content {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .game-apple {
        .fa-primary {
          fill: rgb(107, 226, 107);
          opacity: 1;
        }

        .fa-secondary {
          fill: rgb(235, 104, 68);
          opacity: 1;
        }

        animation: pulse 1s ease-in-out infinite;

        z-index: 1000;
        position: absolute;
        top: -5px;
        left: -5px;
        height: 40px;
        width: 40px;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .2));
      }
    }

    .food {
      background-color: yellow;
    }

    &:nth-of-type(even) {
      .empty {
        &:nth-of-type(even) {
          background-color: rgb(129, 206, 129);
        }
  
        &:nth-of-type(odd) {
          background-color: rgb(94, 160, 94);
        }
      }

      .snake {
        &:nth-of-type(even) {
          filter: brightness(120%);
        }
        
        background-color: brown;
      }
    }

    &:nth-of-type(odd) {
      .empty {
        &:nth-of-type(odd) {
          background-color: rgb(129, 206, 129);
        }
  
        &:nth-of-type(even) {
          background-color: rgb(94, 160, 94);
        }
      }

      .snake {
        &:nth-of-type(odd) {
          filter: brightness(120%);
        }
        
        background-color: brown;
      }
    }
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

@media (max-width: 800px) {
  #game-container {
    --size: 24px;
  }
}