#game-container {
  --size: 5vh;
  --food-size: 10px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  max-height: 90%;
  align-items: center;
  justify-content: center;
  touch-action: none;

  .game-row {
    display: flex;
    align-items: center;
    justify-content: center;

    .game-grid {
      display: flex;
      position: relative;
      flex: 1 1 auto;
      height: var(--size);
      width: var(--size);

      .game-content {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .game-food {
        .fa-primary, .fa-secondary {
          opacity: 1;
          stroke-width: 10px;
        }

        animation: pulse 1s ease-in-out infinite;
        z-index: 100;
        height: 100%;
        width: 100%;
        transform: scale(1.1);
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .2));
      }

      .food-apple {
        @extend .game-food;
        .fa-primary {
          fill: rgb(107, 226, 107);
          stroke:rgb(30, 121, 30);
        }

        .fa-secondary {
          fill: rgb(235, 104, 68);
          stroke: rgb(179, 80, 53);
        }
      }

      .food-strawberry {
        @extend .game-food;

        .fa-primary {
          fill: rgb(107, 226, 107);
          stroke:rgb(30, 121, 30);
        }

        .fa-secondary {
          fill: rgb(235, 104, 68);
          stroke: rgb(179, 80, 53);
        }
      }
    }

    &:nth-of-type(even) {
      .empty {
        &:nth-of-type(even) {
          background-color: rgb(129, 206, 129);
        }
  
        &:nth-of-type(odd) {
          background-color: rgb(94, 160, 94);
        }
      }
    }

    &:nth-of-type(odd) {
      .empty {
        &:nth-of-type(odd) {
          background-color: rgb(129, 206, 129);
        }
  
        &:nth-of-type(even) {
          background-color: rgb(94, 160, 94);
        }
      }
    }
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.21);
  }
}

@media (max-width: 800px) {
  #game-container {
    --size: 4vh;
    --food-size: 30px;
  }
}