footer {
  justify-content: space-around;
  width: 100%;
  min-height: 8em;
  background: #1c222d;
  padding: 15px 40px;
  font-weight: 200;
  color: rgba(256, 256, 256, 0.9);
  font-size: 15px;
}

.music-holder {
  flex-direction: column;
}

#spotify-embed {
  opacity: 0.5;
  border-radius: 10px; 
  min-width: 300px;
  transform: scale(0.8);
  transition: opacity 0.2s linear;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

#spotify {
  transition: color 0.2s linear;

  &:hover {
    color: #51a85a;
  }
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    padding: 30px 0px;
  }

  .music-holder {
    &::after {
    padding-top: 20px;
    margin-bottom: 20px;
    content:''; 
    border-bottom: 0.5px solid white;
    height: 2px;
    width: 5em; 
    }
    
  }
}