.page {
  text-align: center;
  font-family: 'Karla', sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-fg);
  flex-direction: column;
  justify-content: flex-start;
  transition: color 0.2s linear, background-color 0.2s linear;
  background-image: url('assets/images/noise-overlay.png');
}

.dark {
  --clr-bg: #282c34;
  --clr-fg: rgb(242, 242, 242);
  --clr-lnk-fg: rgba(256, 256, 256, 0.2);
  --clr-skill: #252a32;
}

.light {
  --clr-bg: rgb(242, 242, 242);
  --clr-fg: #394e71;
  --clr-lnk-fg: rgba(57, 78, 113, 0.2);
  --clr-skill: rgb(235, 235, 235);
}

.content {
  padding: 175px 20px;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.center {
  display: flex;
  align-items: center;
}
