@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Font Families */
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter Variable", sans-serif;

  /* Font Sizes */
  --text-xs: 0.70rem;
  --text-xs--line-height: initial;
  --text-sm: 0.825rem;
  --text-sm--line-height: initial;
  --text-base: 0.95rem;
  --text-base--line-height: initial;
  --text-lg: 1.075rem;
  --text-lg--line-height: initial;
  --text-xl: 1.20rem;
  --text-xl--line-height: initial;
  --text-2xl: 1.45rem;
  --text-2xl--line-height: initial;

  /* Custom Colors */
  --color-pastel-red: #af4d54;
  --color-pastel-red-light: #e36d75;
  --color-pastel-blue: #2b3c5d;
  --color-pastel-blue-light: #536fa6;
}

@layer components {
  .link {
    @apply text-pastel-red hover:text-pastel-red-light transition-colors font-semibold;
  }

  .layout {
    @apply mx-[15vw] lg:mx-[25vw] mt-16 text-base lg:text-lg;
  }

  .keyword {
    @apply font-serif text-[120%] leading-[100%] font-thin;
  }

  .filter {
    @apply h-8 p-3 flex items-center text-sm
    data-placeholder:text-gray-500 hover:border-pastel-red max-w-48
    border-2 border-pastel-blue cursor-pointer
    touch-none select-none transition-colors;
  }
}

html {
  @apply motion-safe:scroll-smooth antialiased flex h-full;
}

body {
  @apply lg:my-auto mx-auto text-neutral-700;
}

body:has(dialog[open]) {
  @apply overflow-hidden;
}

::selection {
  @apply bg-neutral-200 dark:bg-neutral-600;
}
