.app {
  text-align: center;
  font-family: 'Karla', sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-fg);
  flex-direction: column;
  justify-content: flex-start;
}

.dark {
  --clr-bg: #282c34;
  --clr-fg: #fff;
  --clr-nav-hov: #af4d54;
}

.light {
  --clr-bg: rgb(242, 242, 242);
  --clr-fg: #394e71;
  --clr-nav-hov: #af4d54;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-nav-hov);
}

.nav-theme:hover,
.nav-theme:focus {
  color: var(--clr-nav-hov);
}

.nav-theme:active {
  transition: transform 0.2s ease-out;
  transform: translateY(-5px);
}

.nav-menu {
  margin-left: 1.5em;
  display: none;
}

.nav-menu:hover {
  color: var(--clr-nav-hov);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--clr-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 1000px;
}

.App-link {
  color: #61dafb;
}

.center {
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
