.nav-bar {
    justify-content: flex-end;
    margin: 0;
}
.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 1.5em;

    li {
        margin-right: 0.5em;
        font-family: 'Karla', sans-serif;
        font-weight: 500;
        font-size: 18px;
        padding: 0.2em 0.5em;
        border-radius: 10px;
        transition: background-color 0.1s ease-in-out;

        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

@media (max-width: 800px) {

    .nav-list {
        display: none;
        flex-direction: column;
        margin: 0;
        position: absolute;
        left: 0;
        top: 6em;
        width: 100vw;
        background-color: #384d70;
        color: white;

        li {
            margin: 0;
            padding: 1.5em;
            border-radius: 0;

            &:hover,
            &:focus {
                background-color: #475671;
            }
        }
    }

    .nav-menu {
        display: flex;
    }
}